<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- Formato del log. define como se ve el log-->
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"/>

    <!-- Appender a consola, indica que los logs se mostraran en consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Nivel raíz
         Esto significa: se mostraran logs INFO, WARN y ERROR
                         No se mostraran DEBUG ni TRACE (por ahora)    -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
